body {
	background-color: rgb(221, 73, 73);
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	color: rgb(10, 10, 41)
}

h1 {
	color: rgb(6, 11, 39)

}

img {
	height: 250px;
}

img {
	border: 6px solid black;
}
